doctype html
html
  head
    title Ignite Dance Academy
    block scripts
    block style 
  body
    nav#navbar 
        ul 
            div#logo
              img(src="../static/Logo.png", alt="https://png2.cleanpng.com/sh/442edafa6affd29eb688b3c928749b07/L0KzQYm3VsE3N6JtjpH0aYP2gLBuTgNqdJl0jdd9dHWwdLL1gBUuaaN5Rd9yY3jocb20ivFkc6R0hp8AYkK4c4W9VcVja2g5TZC7MEa1RIe3UME2Omo3SKMCNkW2R4aCTwBvbz==/kisspng-silhouette-dance-art-micheal-jackson-5b25c4655bc745.2062460015292017653759.png")
              | IDA
            li #[a(href="/") Home]
            li #[a(href="/") About]
            li #[a(href="/") Services]
            li #[a(href="/") Class Info]
            li #[a(href="/contact") Contact Us]
            
    block content
    footer#footer 
        | Copyright © 2023 Ignite Dance Academy.com | All Rights Reserved