extends base.pug

block scripts 
    script(src='../static/index.js')

block style 
    style
      include ../static/style.css

block content
    section#introsection 
        div Welcome To Ignite Dance Academy  
        div#small Ignite Your Dancing Flame!!
    
    section#missionsection 
        h2 Our Mission
        div.card 
          h3 Dance Perfection
          div.card-box
            div.card-img
              img(src="../static/Logo1.png", alt="https://banner2.cleanpng.com/20180202/xow/kisspng-moonwalk-dance-silhouette-michael-jackson-dancing-silhouette-material-5a741c7a780892.0595575615175589064917.jpg")

            div.card-content
              p This is the best dance academy of universe ever
        div.card 
          h3 Dance The Way You Like
          div.card-box
            div.card-img
              img(src="../static/Logo2.png", alt="https://w7.pngwing.com/pngs/551/592/png-transparent-hip-hop-dance-hip-hop-music-street-dance-modern-logo-animals-hand-fictional-character-thumbnail.png")

            div.card-content
              p This is the best dance academy of universe ever
        div.card 
          h3 Expert Teaching
          div.card-box
            div.card-img
              img(src="../static/Logo3.png", alt="https://w7.pngwing.com/pngs/266/649/png-transparent-nyc-break-logo-hip-hop-music-hip-hop-dance-breakdancing-b-boy-material-tshirt-template-ink-thumbnail.png")

            div.card-content
              p This is the best dance academy of universe ever
        
        
    section#sponsorsection 
        h2 Our Sponsors
        div#sponsors
          img(src="../static/LOGO IMG/google.png", alt="Sorry Can't Load" class="spImage")
          img(src="../static/LOGO IMG/microsoft.png", alt="Sorry Can't Load" class="spImage")
          img(src="../static/LOGO IMG/pinterest.png", alt="Sorry Can't Load" class="spImage")
          img(src="../static/LOGO IMG/Youtube.png", alt="Sorry Can't Load" class="spImage")
          img(src="../static/LOGO IMG/instagram.png", alt="Sorry Can't Load" class="spImage")